@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample application that demonstrate CRUD (Create, Read, Update and Delete) in .NET Core 8.0 ASP.NET MVC using EF Core.</p> 
    <p>The application is built with a 3 layered architecture for Data, Business and UI with dependency injection</p>
</div>
